body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 1;
    background-color: #4a3854;
  }
  
  textarea {
    background: transparent;
    border: none;
    resize: none;
    color: #4a3854;
    padding-top: 20px;
  }
  
  .jumbotron {
    text-align: center;
    background-color: #4a3854;
    color: #fff7e7;
    border-bottom: 10px solid #fff7e7;
  }
  
  .description {
    white-space: pre-wrap;
  }
  
  .time-block {
    border-radius: 15px;
  }
  
  .row {
    white-space: pre-wrap;
    height: 80px;
  }
  
  .hour {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    background-color: #f09156;
    color: #fff7e7;
    border-radius: 15px;
  }
  
  .past {
    background-color: #c7b4de;
    color: #fff7e7;
  }
  
  .present {
    background-color: #408253;
    color: #fff7e7;
  }
  
  .future {
    background-color: #fff7e7;
    color: #4a3854;
  }
  
  .saveBtn {
    border-radius: 15px;
    background-color: #9e3416;
    color: #fff7e7;
  }
  
  .saveBtn i:hover {
    font-size: 20px;
    transition: all .3s ease-in-out;
  }